body {
    color:#083d3d;
    font-family:HelveticaNeue-Light,helvetica,arial,sans-serif;
}
a,a:active,a:visited{
    color:#026E22;
    text-decoration:underline;
}
#messages {
    list-style:none;
    margin:0 auto;
    font-weight:600;
    font-size:18px;
    width:790px;
}
#messages li {
    background:none repeat scroll 0 0 transparent;
    border:1px solid #083d3d;
    width:790px;
    text-align:center;
    margin:5px 0;
    padding:5px 0 3px;
}
#messages li.info {
    color:#083d3d;
}
#messages li.debug,#messages li.warning,#messages li.error{
    color:#8d080d;
}
#day-nav {
    display:block;
    font-size:16px;
    font-weight:600;
    list-style:none outside none;
    margin:10px auto;
    text-align:center;
}
#day-nav li {
    display:inline-block;
    margin:0 20px;
}
#day-prev {}
#day-now {}
#day-next {}
#formlist {
    list-style:none;
    margin-left:0;
}
.wod {
    border: 1px solid #083d3d;
    margin: 10px auto;
    padding: 15px;
    width: 760px;
}
.no-exercise {
    font-size:18px;
}
.wod-gym {
    font-size:22px;
    margin-bottom: 10px;
    text-decoration: underline;
}
.wod-title {
    font-size:18px;
    margin-bottom: 10px;
    text-decoration: underline;
}
.wod-score {}
.wod-exercises {
    list-style:none;
    margin-left:0;
}
.wod-exercise {
    margin-bottom:10px;
}
.wod-goal {
    width:450px;
    font-size:14px;
    font-weight:600;
}
.wod-errors {}
.wod-field {
    font-size:12px;
    display:inline-block;
    width:155px;
}
.wod-field label {
    width:100px;
    font-style:italic;
    cursor:default;
}
.wod-field input {
    width:150px;
    border:1px solid #083d3d;
}
.wod-field .notes input {
    width:250px;
}
.submit-wod {
    background:none repeat scroll 0 0 transparent;
    border:1px solid #083d3d;
    width:760px;
    padding:10px;
}
.wod-field .errorlist {
    color:#8d080d;
    list-style:none;
    margin-left:0;
}
