<!DOCTYPE html>
<html>
  <head>
<!--
                                            ..                ..                 .
                                      x .d88"               dF                  @88>
              uL   ..    .d``          5888R          u.   '88bu.               %8P          u.
     .u     .@88b  @88R  @8Ne.   .u    '888R    ...ue888b  '*88888bu             .     ...ue888b
  ud8888.  '"Y888k/"*P   %8888:u@88N    888R    888R Y888r   ^"*8888N          .@88u   888R Y888r
:888'8888.    Y888L       `888I  888.   888R    888R I888>  beWE "888L        ''888E`  888R I888>
d888 '88%"     8888        888I  888I   888R    888R I888>  888E  888E          888E   888R I888>
8888.+"        `888N       888I  888I   888R    888R I888>  888E  888E          888E   888R I888>
8888L       .u./"888&    uW888L  888'   888R   u8888cJ888   888E  888F    .     888E  u8888cJ888
'8888c. .+ d888" Y888*" '*88888Nu88P   .888B .  "*888*P"   .888N..888   .@8c    888&   "*888*P"
 "88888%   ` "Y   Y"    ~ '88888F`     ^*888%     'Y"       `"888*""   '%888"   R888"    'Y"
   "YP'                    888 ^         "%                    ""        ^*      ""
                           *8E
                           '8>
                            "                                                                     
-->
{% load compress %}
  <title>{% block title %}explod.io{% endblock title %}</title>
  {% compress css %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css" />
  {% block css %}{% endblock css %}
  {% endcompress %}
</head>
  <body>
    {% block messages %}{% if messages %}
    <ul id="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}{% endblock messages %}

    {% block content %}{% endblock content %}
    {% compress js %}{% block js %}{% endblock js %}{% endcompress %}
  </body>
</html>
