body {
    color:#083d3d;
    font-size:32px;
    font-family:HelveticaNeue-Light,helvetica,arial,sans-serif;
}
#content {
    padding:26px;
    margin-top:24px;
}
#login-form {
    background-color:#aaa;
    border-radius:10px;
    border:1px solid black;
    width:400px;
    margin:10px auto;
    text-align:center;
    padding:20px;
}
#login-form label {
    text-transform:lowercase;
}
#login-form input {
    background-color:#ddd;
    text-align:center;
    font-family:HelveticaNeue-Light,helvetica,arial,sans-serif;
}
#login-form button {
    background-color:#ddd;
    border:1px solid black;
    font-family:HelveticaNeue-Light,helvetica,arial,sans-serif;
}
#messages{
    margin:12px auto;
    width:760px;
    text-align:center;
    list-style:none;
    font-size:22px;
}
#logged-in{
    margin:22px auto;
    width:760px;
    text-align:center;
    list-style:none;
    font-size:22px;
}
