{% extends "base.html" %}

{% block header %}
  <ul id="day-nav">
  	{% if day %}
    <li id="day-prev"><a href="{% url 'xfit:index' year=yesterday.year month=yesterday.month day=yesterday.day %}">{{ yesterday }}</a></li>
    <li id="day-now"><a href="{% url 'xfit:index' year=day.year month=day.month day=day.day %}">{{ day }}</a></li>
    <li id="day-next"><a href="{% url 'xfit:index' year=tomorrow.year month=tomorrow.month day=tomorrow.day %}">{{ tomorrow }}</a></li>
    {% endif %}
    <li id="logout"><a href="{% url 'accounts:logout' %}">Logout</a></li>
  </ul>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/xfit.css" />
{% endblock css %}
