{% extends "xfit/base.html" %}

{% block content %}

<ul id="formlist">
    <li class="wod">
        {% ifequal slug 'all' %}
            <h3 class="wod-gym">All Exercises</h3>
            <h4 class="wod-title">Complete History</h4>
        {% else %}
            <h3 class="wod-gym"><a href="{{ exercise.get_absoute_url }}">{{ exercise }}</a></h3>
            <h4 class="wod-title">Exercise History</h4>
        {% endifequal %}
        <ul class="exercises">
            {% for past in history %}
                <li class="exercise">{% if slug != 'all' %}{{ past.user_wod.wod.day }} - {% endif %}{{ past }}</li>
            {% empty %}
                {% if request.user.is_authenticated %}
                    <li class="exercise">You have no history here... C'mon!</li>
                {% else %}
                    <li class="exercise">You aren't logged in! Log in and get moving.</li>
                {% endif %}
            {% endfor %}
        <ul>
    </li>
</ul>

{% endblock content %}