{% extends "xfit/base.html" %}

{% block content %}

  <form method="post" action="">
    <ul id="formlist">
      <li class="submit-container"></li>
      {% for wod_form in wod_forms %}
        <li class="wod">
          <h3 class="wod-gym">{{ wod_form.wod.gym }}</h3>
          <h4 class="wod-title">{{ wod_form.wod.workout }}</h4>

          {% if wod_form.wod.workout.exercises.exists %}

          <div class="wod-score wod-field">{{ wod_form.score_form.as_p }}</div>

          <ul class="wod-exercises">
            {% for wod_exercise_form in wod_form.wod_exercise_forms %}
              <li class="wod-exercise">
                <div class="wod-goal">
                  <a href="{{ wod_exercise_form.goal.exercise.get_absolute_url }}">{{ wod_exercise_form.goal }}</a>
                </div>
                {% if wod_exercise_form.non_field_errors %}
                  <div class="wod-errors">{{ wod_exercise_form.non_field_errors }}</div>
                {% endif %}
                {% if wod_exercise_form.fields.effort %}
                  <div class="wod-field">
                    {{ wod_exercise_form.effort.errors }}
                    <label>{{ wod_exercise_form.goal.effort_unit.plural|capfirst }}:</label>
                    {{ wod_exercise_form.effort }}
                  </div>
                {% endif %}
                {% if wod_exercise_form.fields.reps %}
                  <div class="wod-field">
                    {{ wod_exercise_form.reps.errors }}
                    <label>{{ wod_exercise_form.goal.reps_unit.plural|capfirst }}:</label>
                    {{ wod_exercise_form.reps }}
                  </div>
                {% endif %}
                <div class="wod-field">
                  {{ wod_exercise_form.notes.errors }}
                  <label>Notes:</label>
                  <div class="notes">{{ wod_exercise_form.notes }}</div>
                </div>
              </li>
            {% endfor %}
            <button class="submit-wod" type="submit" name="action" value="update-wods">Save</button>
          </ul>

          {% else %}
            <div class="no-exercise">There are no exercises for this routine.</div>
          {% endif %}

        </li>
      {% endfor %}

      {% for gym in extra_gyms %}
      <li class="wod">
        <h3 class="wod-title">{{ gym }}</h3>
        <div class="no-exercise">Either nothing is planned today, or someone is busy lifting hundred pound rocks.</div>
      </li>
      {% endfor %}
    </ul>
    {% csrf_token %}
  </form>
{% endblock content %}
